
.practiceCard h3{
  color:white !important;
  font-size:30px;
  margin-top:18px;
  margin-bottom:10px;
  font-weight:700;
}

.practiceCard p{
  color:rgba(255,255,255,0.78) !important;
}

.practiceCard small{
  color:#ffd27a !important;
  display:block;
  margin-top:8px;
}

.practiceCard{
  text-align:left;
  cursor:pointer;
  min-height:260px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
